  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
      <!-- Application Theme CSS -->

       <link rel="stylesheet" href="app/templates/{template}/assets/bootstrap/css/bootstrap.min.css?afver=502">
           <link rel="stylesheet" href="app/templates/{template}/assets/bootstrap/css/pulse.min.css?afver=502">
      <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
  
    <!-- Third part libraries required by Adianti Framework -->
    <script src="lib/jquery/jquery.min.js?afver=502" type="text/javascript"></script>
    <script src="lib/bootstrap/js/bootstrap-plugins.min.js?afver=502" type="text/javascript"></script>
    <script src="lib/bootstrap/js/locales/bootstrap-datepicker.pt.js?afver=502" type="text/javascript"></script>
    <script src="lib/bootstrap/js/lang/summernote-pt-BR.min.js?afver=502" type="text/javascript"></script>
    <script src="app/templates/{template}/assets/jquery_ui/jquery-ui.min.js?afver=502" type="text/javascript"></script>
    <script src="lib/jquery/jquery-plugins.min.js?afver=502" type="text/javascript"></script>
    <script src="lib/jquery/select2_locale_pt.js?afver=502" type="text/javascript"></script>
    <script src="lib/jquery/fullcalendar-pt.js?afver=502" type="text/javascript"></script>
    
    <!-- Adianti Framework core and components -->
    <script src="lib/adianti/include/adianti.min.js?afver=502" type="text/javascript"></script>
    <script src="lib/adianti/include/components.min.js?afver=502" type="text/javascript"></script>
    
    <!-- Application custom Javascript (Optional) -->
    <script src="app/lib/include/application.js?appver=502" type="text/javascript"></script>
    
    <!-- Third part CSS required by Adianti Framework -->
    <link href="app/templates/{template}/assets/jquery_ui/jquery-ui.min.css?afver=502" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/jquery/jquery-plugins.min.css?afver=502" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/bootstrap/css/bootstrap.min.css?afver=502" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/bootstrap/css/boostrap-plugins.min.css?afver=502" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/font-awesome/css/font-awesome.min.css?afver=502" rel="stylesheet" type="text/css" media="screen" />
    
    <!-- Adianti Framework Components CSS -->
    <link href="lib/adianti/include/adianti.min.css?afver=502" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/adianti/include/components.min.css?afver=502" rel="stylesheet" type="text/css" media="screen" />
    
      
  

     <!-- Application HLib js -->
        <link rel="stylesheet" href="app/templates/{template}/application.css?afver=502">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="app/templates/{template}/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>

